[Desktop Entry]
Name=emuze
Exec=emuze %f
TryExec=emuze
Terminal=false
Type=Application
Icon=emuze
StartupWMClass=emuze
Comment=Launch your Retro Games fast and simple
Categories=Emulator;









X-AppImage-Name=emuze
X-AppImage-Version=UNKNOWN
X-AppImage-Arch=x86_64

