node_modules

/.cache
coverage
/build
/public/build
/buildDesktop
/dist
/.idea
.env
/styled-system/
/test-results/
/playwright-report/
/playwright/.cache/
/e2eTests/*Config/
/e2eTests/tests/**/*Config/
/readme/build/
/buildConfig
