@layer reset, base, tokens, recipes, utilities;

@font-face {
    font-family: "Quicksand Light";
    src: url("/Quicksand-VariableFont_wght.ttf") format("truetype");
    font-display: block;
}

@font-face {
    font-family: "AnnieUseYourTelescope";
    src: url("/AnnieUseYourTelescope-Regular.ttf") format("truetype");
    font-display: block;
}

:root {
    --font-quicksand-light: 'Quicksand Light';
    --font-annie-use-your-telescope: "AnnieUseYourTelescope";
}

.draggable {
    -webkit-app-region: drag;
}