@layer tokens {
    :where(:root, :host) {
  --spacing-1: 0.8rem;
  --spacing-2: 2rem;
  --spacing-3: 3rem;
  --spacing-4: 5rem;
  --sizes-1: 1rem;
  --sizes-2: 2rem;
  --sizes-3: 3rem;
  --sizes-4: 4rem;
  --sizes-5: 5rem;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px;
  --borders-2: 2px solid black;
  --borders-3: 4px solid black;
  --radii-1: 0.8rem;
  --fonts-quicksand-light: var(--font-quicksand-light);
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px
}

[data-theme=red] {
  --colors-color: white;
  --colors-background-color: black;
  --colors-transparent-background-color: rgba(0, 0, 0, 0.6);
  --colors-sidebar-background-color: #4d4d4d;
  --colors-accent: #950909;
  --colors-color-on-accent: white;
  --colors-error: #da1616;
  --gradients-default: linear-gradient(45deg, var(--colors-background-color), var(--colors-sidebar-background-color))
}

[data-theme=red][data-color-mode=light] {
  --colors-color: black;
  --colors-background-color: white;
  --colors-transparent-background-color: rgba(0, 0, 0, 0.6);
  --colors-sidebar-background-color: #b3b2b2;
  --colors-accent: #950909;
  --colors-color-on-accent: white;
  --colors-error: #950909;
  --gradients-default: linear-gradient(45deg, var(--colors-background-color), var(--colors-sidebar-background-color))
        }
  }
  