name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn app:distLinux --publish=never
      - name: Upload artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: emuze-nightly.AppImage
          path: "dist/emuze-*.AppImage"

  build_windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn app:distWindows --publish=never
      - name: Upload artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: emuze-Setup-nightly.exe
          path: "dist/emuze*.exe"
